<h1>使い方</h1>
<div class="usage">
  <div class="notice">
    <p>※本サイトはPC向けに作成したものです</p>
  </div>
  <p><%= link_to "ご利用にあたっての注意事項", notice_path, target: :_blank %>をお読みの上ご利用ください．</p>
  <h3>科目検索機能</h3>
  <hr>
  <p>ホーム画面より，検索したい科目がある学部を選択してください．</p>
  <p>複数学部選択可能です．</p>
  <p>選択し終えたら”学部一覧を閉じる”のボタンを押せば隠れるので邪魔になりません．（再度押せば開きます）</p>
  <%= image_tag("usage/select_faculty.png", alt: "学部を選択する", width: "250px",  class: "usage_image") %>
  <p>学部に対応する科目の一覧が表示されます．</p>
  <%= image_tag("usage/all_subjects.png", alt: "科目の一覧", width: "60%", class: "usage_image") %>
  <p>一覧ページでできることは以下．</p>
  <ul class="usage-ul">
    <li>項目のソート：降順，昇順に並び替えることができます．</li>
    <li>表示件数の変更：10, 25, 50, 100から選択できます．</li>
    <li>検索：科目名，先生の名前(複数人の場合は最初の人)で検索できます．</li>
    <li>シラバスへのリンク：科目名をクリックしてシラバスへ飛ぶことができます．</li>
    <li>学期検索：学期ごとに絞り込むことができます．</li>
  </ul>

  <h3>ストック機能</h3>
  <hr>
  <div class="notice">
    <p>ストック機能はブラウザにデータを保存しています．</p>
    <p>ブラウザを変えたり，cookieをクリアしてしまうとデータは消去されてしまいます．</p>
    <p>また学校のPCではシャットダウンすると自動的に消去されます．</p>
  </div>
  <p>受講したい，検討したい科目があれば"stock"ボタンをクリックすると，ストックしておくことができます．</p>
  <%= image_tag("usage/stock_button.png", alt: "stockボタン", width: "30%", class: "usage_image") %>
  
  <p>講義の曜日，時間を入力すると自動的に時間割表にまとめてくれます．</p>

  <p>ストックした科目は，一番上にある<strong><%= link_to "保存した科目を見る", stock_subjects_path %></strong>を押すと見ることができます．</p>
  <p>ここでは，ストックした科目の時間割表示，一覧表示を確認することができます．</p>
  <%= image_tag("usage/time_schedule.png", alt: "時間割", width: "60%", class: "usage_image") %>


  <h3>使い方がわからない，動作がおかしい，などあれば<%= link_to "こちら", contact_path, target: :_blank %>でお伝え下さい．</h3>
  <br>

</div>
