<tr>
  <td><%= link_to year_datum.year, year_datum.url %></td>
  <td><%= int2term year_datum.term %></td>
  <td><%= year_datum.A %></td>
  <td><%= year_datum.B %></td>
  <td><%= year_datum.C %></td>
  <td><%= year_datum.D %></td>
  <td><%= year_datum.F %></td>
</tr>
