<div class="title">
  <h1>
    <%= @summarized_subject.name %>
    <span class="stock-button">
    </span>
  </h1>
</div>

<div>
  <h4 class="detail-teacher">
    <span>担当講師：<%= @summarized_subject.teacher_name %></span>
  </h4>
  <h4 class="detail-other">
    <span><%= ApplicationController.helpers.int2place @summarized_subject.place %>校地</span>
    <span><%= ApplicationController.helpers.int2term @summarized_subject.term %>学期</span>
    <span><%= @summarized_subject.credit %>単位</span>
  </h4>
</div>
<hr>
<div>
<h4><%= link_to "シラバスを見る", @summarized_subject.url, target: :_blank %></h4>
</div>
<div id="stock-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<div class="canvas">
<canvas id="myChart" width="300" height="200">お使いのブラウザはcanvasに対応していません。</canvas>
</div>

<div class="textbook-area">
  <% textbooks = @summarized_subject.syllabus_data.where("tag = 'テキスト'") %>
  <% ref_books = @summarized_subject.syllabus_data.where("tag = '参考文献'") %>
  <% if textbooks.present? || ref_books.present? %>
    <h3>教科書をネットで購入する</h3>
    <hr>
  <% end %>
  <% if textbooks.present? %>
    <div class="textbooks">
      <h4>教科書の候補</h4>
      <ul class="book-list">
        <% textbooks.each do |textbook| %>
          <% keyword = textbook.value %>
          <% amazon_path = "https://www.amazon.co.jp/s/ref=as_li_ss_tl?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&url=search-alias=stripbooks&field-keywords=#{keyword}&rh=n:465392,k:#{keyword}&linkCode=ll2&tag=johshisha-22" %>
          <li><%= image_tag('textbook.png', { :border => '0', :alt => '教科書', :class => 'list-icon'}) %><%= keyword %>: <%= link_to image_tag('search.png', { :size => "24x24", :border => '0', :alt => '検索', :class => 'search-icon'})+"[中古本を探す]", amazon_path, target: :_blank %></li>
        <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  <% if ref_books.present? %>
    <div class="ref_books">
      <h4>参考文献の候補</h4>
      <ul class="book-list">
        <% ref_books.each do |ref_book| %>
          <% keyword = ref_book.value %>
          <% amazon_path = "https://www.amazon.co.jp/s/ref=as_li_ss_tl?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&url=search-alias=stripbooks&field-keywords=#{keyword}&rh=n:465392,k:#{keyword}&linkCode=ll2&tag=johshisha-22" %>
          <li><%= image_tag('ref_books.png', { :border => '0', :alt => '参考文献', :class => 'list-icon'}) %><%= keyword %>: <%= link_to image_tag('search.png', { :size => "24x24", :border => '0', :alt => '検索', :class => 'search-icon'})+"[中古本を探す]", amazon_path, target: :_blank %></li>
        <% end %>
      </ul>
    </div>
    <br>
  <% end %>
  <% if textbooks.present? || ref_books.present? %>
    <div class="notice-new-student">
      <p>購入の際は<span class='strong'>シラバスで</span>タイトル，版を確認した上で自己責任でご購入ください</p>
    </div>
    <br>
  <% end %>
</div>

<script>
  if ($(".stock-button").find(".btn").length == 0){
    $('.stock-button').append(
      render_table_td('<%= @summarized_subject.subject_id %>')
    );
  }
  
  <% year_data = @summarized_subject.year_data %>
  var ctx = document.getElementById("myChart");
  var num_of_students = <%= year_data.pluck(:number_of_students).map(&:to_i) %>;
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: <%= year_data.pluck(:year) %>,
          datasets: [{
              label: "A",
              borderWidth:1,
              backgroundColor: "#121554",
              borderColor: "#121554",
              data: <%= year_data.pluck(:A).map(&:to_f) %>
          },
           {
              label: "B",
              borderWidth:1,
              backgroundColor: "#007bbb",
              borderColor: "#007bbb",
              data: <%= year_data.pluck(:B).map(&:to_f) %>
          },{
              label: "C",
              borderWidth:1,
              backgroundColor: "#165e83",
              borderColor: "#165e83",
              data: <%= year_data.pluck(:C).map(&:to_f) %>
          },{
              label: "D",
              borderWidth:1,
              backgroundColor: "#745399",
              borderColor: "#745399",
              data: <%= year_data.pluck(:D).map(&:to_f) %>
          },{
              label: "F",
              borderWidth:1,
              backgroundColor: "#cd5c5c",
              borderColor: "#cd5c5c",
              data: <%= year_data.pluck(:F).map(&:to_f) %>
          },{
              label: "other",
              borderWidth:1,
              backgroundColor: "#7e8080",
              borderColor: "#7e8080",
              data: <%= year_data.pluck(:other).map(&:to_f) %>
          }]

      },
      options: {
          title: {
              display: true,
              text: '<%= @summarized_subject.name %>の成績評価傾向', //グラフの見出し
              padding: 5
          },
          scales: {
              xAxes: [{
                    stacked: true, //積み上げ棒グラフにする設定
                    categoryPercentage:0.4 //棒グラフの太さ
              }],
              yAxes: [{
                    stacked: true, //積み上げ棒グラフにする設定
                    ticks: {
                        max: 100,
                        min: 0,
                        stepSize: 25
                    }
              }]
          },
          responsive: true,
          legend: {
              labels: {
                    boxWidth:30,
                    padding:20 //凡例の各要素間の距離
              },
              display: true
          },
          tooltips:{
            // enabled: false
            enabled: true,
            callbacks: {
              label: function(tooltipItem, data) {
                return data.datasets[tooltipItem.datasetIndex].label;
              },
              afterLabel: function(tooltipItem, data) {
                return "受講者数："+num_of_students[tooltipItem.index];
              }
            }
          }
      }
  });
</script>
