<div class="modal-dialog">
  <div class="modal-content">
    <p><%= @subject.name %></p>
    <p><%= "#{int2term @subject.term}学期" %></p>
    <div class='modal-error-field'></div>
    <% if @present %>
      <%= form_tag "/stock_subjects/#{@subject.id}", method: "delete", remote: true, class: "modal-form" do %>
        <p>ストックから削除しますか？</p>
        <%= submit_tag "削除", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_tag stock_subjects_path, remote: true, class: "modal-form" do %>
        <%= hidden_field_tag(:subject_id, @subject.id) %>
        <table class="modal-table">
          <tr>
            <th><%= label_tag(:week, "曜日") %></th>
            <th><%= label_tag(:period, "時間") %></th>
          </tr>
          <tr>
            <td width="100">
              <% @weeks.each_with_index do |week, i| %>
                <p>
                  <label>
                    <%= week %> : <%= radio_button_tag "week", i %>
                  </label>
                </p>
              <% end %>
            </td>
            <td width="100">  
              <% @periods.each_with_index do |period, i| %>
                <p>
                  <label>
                    <%= period %> : <%= check_box_tag "periods[]", i %>
                  </label>
                </p>
              <% end %>
            </td>
          </tr>
        </table>
        <%= submit_tag "ストックする", class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
