<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag stock_subjects_path, remote: true do %>
      <table>
        <tr>
          <th><%= label_tag(:week, "曜日") %></th>
          <th><%= label_tag(:period, "時間") %></th>
        </tr>
        <tr>
          <td width="100">
            <% @weeks.each_with_index do |week, i| %>
              <p>
                <%= week %> : <%= radio_button_tag "week", i %>
              </p>
            <% end %>
          </td>
          <td width="100">  
            <% @periods.each_with_index do |period, i| %>
              <p>
                <%= period %> : <%= radio_button_tag "period", i %>
              </p>
            <% end %>
          </td>
        </tr>
      </table>
    <%= submit_tag "Submit" %>
    <% end %>
  </div>
</div>
