<h2>春学期</h2>
<table class="tmo_ctt spring-term" id="0">
  <thead>
    <tr>
      <th class="blank"></th>
      <% @weeks.each do |week| %>
        <th class="week"><%= week %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @periods.each_with_index do |period, p_i| %>
      <tr>
        <th class="time"><%= period %></th>
        <% @weeks.each_with_index do |week, w_i| %>
          <td week="<%= w_i %>" period="<%= p_i %>" class="schedule-data-td" id="schedule-<%= w_i %>_<%= p_i %>">
            <!-- p_i, w_iから該当する科目を持ってきたい（Ajaxでしよう）  -->
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<h2>秋学期</h2>
<table class="tmo_ctt autumn-term" id="1">
  <thead>
    <tr>
      <th class="blank"></th>
      <% @weeks.each do |week| %>
        <th class="week"><%= week %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @periods.each_with_index do |period, p_i| %>
      <tr>
        <th class="time"><%= period %></th>
        <% @weeks.each_with_index do |week, w_i| %>
          <td week="<%= w_i %>" period="<%= p_i %>" class="schedule-data-td" id="schedule-<%= w_i %>_<%= p_i %>">
            <!-- p_i, w_iから該当する科目を持ってきたい（Ajaxでしよう）  -->
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  <% @schedules.each do |k,v| %>
    <% id, week, period = k, v[0], v[1] %>
    <% subject = @subjects.find(id) %>
    var ret = '<p class="schedule-data-<%= id %>">●<%= subject.name %></p>'
    schedule_table_add(ret, <%= week %>, <%= period %>, <%= subject.term %>);
  <% end %>
</script>
