<% spring_subjects = @subjects.where(term: 0) %>
<% autumn_subjects = @subjects.where(term: 1) %>

<%= render partial: 'term-info', locals: {weeks: @weeks, periods: @periods, term: 0, subjects: spring_subjects} %>
<%= render partial: 'term-info', locals: {weeks: @weeks, periods: @periods, term: 1, subjects: autumn_subjects} %>


<div class="sum-credit">
  <h4>単位合計：<span class="sum-credit-value"></span>単位<small>（必ずご自分でご確認ください）</small></h4>
</div>
<div class="delete-all-stock">
  <%= link_to 'すべて削除する', clear_stock_subjects_path, method: :delete, class: "btn btn-default", data: { confirm: '本当によろしいですか？'} %>
</div>


<script>
<!-- 時間割に科目を追加する  -->
<!--
  <% @schedules.each do |k,v| %>
    <% id, week, periods = k, v[0], v[1] %>
    <% subject = @subjects.find_by(subject_id: id) %>
    <% periods.each do |period| %>
      var class_id = "schedule-data-<%= id %>";
      var subject_name = '●<%= subject.name %>';
      schedule_table_add(class_id, subject_name, <%= week %>, <%= period %>, <%= subject.term %>);
    <% end %>
  <% end %>

  function update_credit(){
    function calc_term_credit(term){
      sum = 0;
      $("."+term+"-term").find('.credit-td').each(function() {
        sum += Number($(this).text());
      });
      $("."+term+"-credit-value").text(sum);
    }
    calc_term_credit("spring");
    calc_term_credit("autumn");
    $(".sum-credit-value").text(Number($(".spring-credit-value").text()) + Number($(".autumn-credit-value").text()));
  }
  update_credit();
// -->
</script>
